@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

.App {
  text-align: center;
  font-family: "Open Sans";
}

body {
  color: var(--dark);
  background-color: var(--light);
}

:root {
  --dark: rgb(29, 33, 37);
  --light: #f0f4f8;
  --blue: #62b6cb;
  --green: #57cc99;
  --red: #d33e4d;
  --yellow: #ffe45e;
}