.Card {
  display: inline-block;
  margin: 12px;
  padding: 8px;
  width: 200px;
  height: 200px;
  border-radius: 12px;
  border: solid var(--dark) 4px;
  justify-content: center;
  align-items: center;
  color: var(--dark);
  background-color: white;
  position: relative;
  overflow: hidden;
}

@media print {
  .Card {
    break-inside: avoid;
  }
}

.Card-type {
  position: absolute;
  top: 12px;
  left: 8px;
}

.Card-blank {
  flex-grow: 2;
}

.Card-name {
  font-weight: 800;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-orientation: sideways-right;
  margin-left: 0px;
  height: 100%;
}

.Card-description {
}

.Card-image {
  height: 100px;
}

.CHAOS .Card-image {
  filter: invert()
}

.Card-content svg {
  margin-top: 16px;
}

.Card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 80%;
  top:0px;
  left: 36px;
  word-break: break-word;
  position: absolute;
}

.NATURAL.DISASTER {
  border-color: var(--red);
}

.NATURAL.DISASTER :is(.Card-name, svg) {
  color: var(--red);
}

.RELIEF.PACK {
  border-color: var(--green);
}

.RELIEF.PACK :is(.Card-name, svg) {
  color: var(--green);
}

.NOPE {
  border-color: gray;
}

.NOPE :is(.Card-name, svg) {
  color: gray;
}

.FORECAST {
  border-color: var(--blue);
}

.FORECAST :is(.Card-name, svg) {
  color: var(--blue);
}

.FAVOR {
  border-color: orange;
}

.FAVOR :is(.Card-name, svg) {
  color: orange;
}

.CHAOS {
  border-color: var(--dark);
  background-color: var(--dark);
  color: var(--light);
}